
@{
    ViewBag.Title = "Specials";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p> this is where we will add even more stuff to the fun</p>


<div class="panel panel-default">
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
</div>
    <form role="form">
        <div class="form-group">
            <label class="control-label" for="exampleInputEmail">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <p> This could go no forever if we let it</p>